.cards {
  display: flex;
  flex-direction: column;
  border: 4px solid #23876154;
  border-radius: 15px;
  padding: 20px 20px;
  width: 220px;
  gap: 20px;
  box-shadow: 3px 3px 5px #00000054;
}

.btn-box {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.delete-btn {
  height: 40px;
  width: 100px;
  border: 3px solid #fcb9aa;
  border-radius: 10px;
  background-color: #ffffff;
}

.delete-btn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px #00000054;
}

.complete-btn {
  height: 40px;
  width: 100px;
  border: 3px solid #a2e1db;
  border-radius: 10px;
  background-color: #ffffff;
}

.complete-btn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px #00000054;
}

.card-title {
  overflow: hidden;
  font-size: xx-large;
}
.card-body {
  overflow: hidden;
}
