.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #23876154;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 1px 0px 2px #00000054;
}

.input-boxs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.input-area {
  height: 70px;
  width: 200px;
  border: none;
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 20px;
}

.btn {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  margin: 50px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px #00000054;
}
