@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "TAEBAEKmilkyway";
  font-weight: bold;
  font-style: normal;
}

.div-container {
  display: grid;
  grid-template-columns: 450px 1fr;
  border: 1px solid #fff;
  border-radius: 50px;
  box-shadow: 3px 3px 5px #00000054;
}
